<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="nlog-internal.log">
  <targets async="true">
    <target xsi:type="Console" name="console" />

    <target xsi:type="File" name="f"
            fileName="${basedir}/logs/${shortdate}.log"
            archiveFileName="${basedir}/logs/{########}.log"
            archiveEvery="Day"
            maxArchiveFiles="7"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveOldFileOnStartup="true"
            layout="${longdate}|${threadid:padding=3}|${pad:padding=5:inner=${level:uppercase=true}}|${logger:padding=14}| ${message:padding=-40} |${callsite:className=true:includeNamespace=false:fileName=false:includeSourcePath=false:methodName=false}" />

    <target name="run_log" xsi:type="File"
            fileName="${basedir}/logs/last_run.log"
            deleteOldFileOnStartup="true"
            keepFileOpen ="false"
            layout="${longdate}|${threadid:padding=3}|${pad:padding=5:inner=${level:uppercase=true}}|${logger:padding=14}| ${message:padding=-40} |${callsite:className=true:includeNamespace=false:fileName=false:includeSourcePath=false:methodName=false}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="*" minlevel="Trace" writeTo="run_log" />
  </rules>
</nlog>